.steps{
    background-color: var(--dark-green);
    margin: 0;
    padding: 0;
    color: white;
    margin: -2rem;
    padding: 4rem 2rem;
    

    }
.white-heading{
    color:white;

}
.white-heading img{
    display: inline-block;
    vertical-align: middle;
}

.steps .step h3{
    color: white;
}
.step{
    text-align: center;
}

.number{
    font-family: var(--quicksand);
    font-size: 1.3rem;
    font-weight: 700;
}