.steps{
    background-color: var(--dark-green);
    background-image: url("/public/bg-leaves.jpg");
    background-size: cover;
    background-position: 80%;
    margin: 0;
    padding: 0;
    color: white;
    margin: -2rem;
    padding: 2rem 2rem;
    

    }
.white-heading{
    color:white;

}
.white-heading img{
    display: inline-block;
    vertical-align: middle;
}

.steps .step h3{
    color: white;
    font-size: 1.4rem;
    padding-right: 3rem;
}
.step{
    text-align: center;
}

.number{
    font-family: var(--quicksand);
    font-size: 1.3rem;
    font-weight: 700;
}

.step h3 img{
    display: inline-block;
    vertical-align: middle;
    padding-right: 1rem;
}
@media (min-width: 400px) { 

}
@media (max-width: 900px) and (orientation: landscape) {
 
    .earth{
        margin: 0 auto;
        display: block;
    }


}

@media (max-width: 768px) { 
}

@media (max-width: 1024px) { 
}

@media (max-width: 1280px) { 
}

@media (max-width: 1440px) { 
}

@media (max-width: 1920px) { 
}