.gradient-btn {
  font-weight: 500;
  font-size: 1rem;
  border: none;
  color: white;
  border-radius: 20px;
  padding: 0.4rem 2rem;
  background-color: #4a7c59;
  background-image: linear-gradient(to right, #4a7c59 0%, #8fc0a9 100%);
}
.border-btn {
  font-size: 1rem;
  color: var(--turquoise);
  font-weight: 600;
  border-radius: 30px;
  border-color: var(--turquoise);
  padding: 0.4rem 2rem;
  border: 2px solid var(--turquoise);
  background-color: transparent;
}
.hero-main {
  font-size: 2.5rem;
  padding-top: 3rem;
}
.buttons {
  display: inline-grid;
  gap: 15px;
  padding-top: 1rem;
}
.hero {
  box-sizing: border-box;
  position: relative;
}
.hero p{
  padding-right: 5rem;
  margin-top: 0;
}

.background {
  background-image: url("/public/bg-tr.svg");
  background-size: cover;
  background-position: center;
  margin: 0;
  height: 85vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}

@media (min-width: 400px) {
  .hero p {
    padding-right: 5rem;
  }
  .hero-main {
    font-size: 3rem;
    padding-top: 4rem;
    padding-right: 4rem;
  }
}

@media (min-width: 480px) {
  .background {
    background-image: url("/public/bg-tr.svg");
    background-size: cover;
    background-position: center;
  }
}
@media (min-width: 560px) and (orientation: landscape) {
  .background {
    height: 120vh;
    background-image: url("/public/landscape-bg.svg");
    background-size: cover;
  }
  .hero-main {
    padding-right: 3rem;
    padding-top: 2rem;
  }
  .hero p {
    padding-right: 11rem;
  }
}

@media (min-width: 700px) and (orientation: portrait) {
  .hero{
    height: 100vh;
  }
  .background {
    background-image: url("/public/bg-tr-mid.svg");
    background-size: cover;
    background-position: center;
  }
  .hero-main{
    font-size: 4rem;
  }
  .hero p{
    padding-right: 17rem;
    padding-bottom: 3rem;
    line-height: 200%;
  }
  .gradient-btn, .border-btn{
    font-size: 1.5rem;
  }
}
@media (min-width: 1010px) and (orientation: landscape){
  .background {
    background-image: url("/public/big-bg.svg");
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
  .hero{
    height: 92vh;
  }
  .hero-main{
    padding-top: 6rem;
    max-width: 60%;
    font-size: 3.7rem;
  }
  .hero p{
max-width: 50%;
  }
  .gradient-btn, .border-btn{
    font-size: 1.4rem;
  }
  .buttons{
    display: flex;
  }
} 
@media (min-width: 1024px) and (orientation: portrait) {
  .background {
    background-image: url("/public/1020x77.svg");
    background-size: cover;
    background-position: center;
  }
}

@media (min-width: 1280px) and (orientation: landscape){
  .hero-main{
    margin-top: 9rem;
    font-size: 4rem;
    max-width: 70%;
  }
}

@media (min-width: 1440px) and (orientation: landscape){
  .hero{
    margin-left: -4rem;
  }
  .background {
    background-image: url("/public/big-bg.svg");
    background-size: cover;
    background-position: center;
  }
  .hero-main{
    margin-top: 9rem;
    font-size: 4rem;
    max-width: 70%;
  }

  .buttons{
    padding-top: 3rem;
  }
  .hero p{
    font-size: 1.4rem;
  }
}

@media (min-width: 1920px) {
}
