.goals {
  color: var(--dark-grey);
  font-weight: 600;
  font-size: 1.2rem;
}
.goals-list {
  list-style: none;
  padding-left: 0;
}
ul.goals-list li {
  position: relative;
  padding-left: 40px;
  margin-bottom: 10px;
}
ul.goals-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
  height: 35px;
  background: url("/public/blue-accent.svg") no-repeat;
  background-size: cover;
}


.olive {
  color: var(--olive);
  font-family: var(--quicksand);
  text-align: center;
}
h3.olive + * {
  text-align: center;
}
.sea-color {
  color: var(--turquoise);
  padding-top: 3rem;

}
.centered-heading {
  text-align: center;
}
.centered-btn {
  margin: 0 auto;
  padding: 0.4rem 2.5rem;
  display: block;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.header-accent {
  height: 50px;
  display: inline-block;
  vertical-align: middle;
}
.our-mission {
  display: flex;
  align-items: center;
}
.cream-shape{
  max-width: 350px;
  position: relative;
  z-index: -10;
  top: -530px;
  left: -180px;
}

.education-img{
  padding-bottom: 3rem;
}
.about{
  padding-top: 3rem;
  margin-bottom: -250px;

}
.transforming img{
  margin: 0 auto;
  max-width: 300px;
  display: block;
}
@media (min-width: 400px) { 

}


@media (min-width: 700px) { 
  .about{
    padding-top: 0;
  }
  .goals{
    font-size: 1.8rem;
  }
    /* .layout{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .education-layout{
      gap: 2rem;
      margin-bottom: 3rem;
    } */
    .layout {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 1fr;
      column-gap: 20px; 
      row-gap: 0px; 
          align-items: center;
    }
    .graphic {
      width: 80%;
      height: auto;
    }
    .centered-btn{
      display: inline;
      margin-top: 0;
    }
    .education-img{
      margin-bottom: 0;
    }
  
  .layout > .div1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;  }
  
  .layout > .div2 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;  }
  
  .layout > .div3 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .education-layout{
    padding-bottom: 4rem;
  }
    
}
@media (min-width: 560px) and (orientation: landscape) {
  .cream-shape{
    max-width: 450px;
    position: relative;
    z-index: -10;
    top: -300px;
  }
  .our-mission h2{
    margin-bottom: 0;
  }
  .layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    column-gap: 20px; 
    row-gap: 0px; 
        align-items: center;
  }
  .goals{
    margin: 0;
  }
  .layout > .div1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;  }
  
  .layout > .div2 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;  }
  
  .layout > .div3 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  
  .graphic {
    width: 80%;
    height: auto;
  }
  .centered-btn{
    display: inline;
    margin-top: 0;
  }
  .education-img{
    margin-bottom: 0;
  }

}
@media (min-width: 1010px) and (orientation: landscape){
  .layout > .div3  img{
    max-width: 400px;
 }
 .layout-3col{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;

 }
 img.education-img{
  max-width: 400px;
 }
} 

@media (min-width: 1024px) and (orientation: portrait) { 
}

@media (min-width: 1280px) {

  .layout > .div1{
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .layout > .div2{
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .layout > .div3{
    grid-column: 2/3;
    grid-row: 1/3;
  }
  .layout > .div3 img{
    max-width: 500px;
  }
  .transforming{
    margin-top: 6rem;
  }
  .centered-heading{
    margin: 4rem;
  }h3.olive{
    font-size: 1.6rem;
  }
  .cream-shape{
    left: -470px;
    max-width: 100%;
    width: 500px;
    top: -400px;
  }
}

@media (min-width: 1440px) {
  
}

@media (min-width: 1920px) {
}
@media (min-width: 425px) {
}



