input, textarea{
    border: 1px var(--dark-green) solid;
    width: 100%;
    box-sizing: border-box;

}
input{
    height: 2rem;
}
textarea{
    height:6rem;
    padding: 0.5rem;
}
.olive-gradient{
    margin: 1rem 0;
    background-image: linear-gradient(to right, #4a7c59 0%, #788A63 100%);
}
.contacts{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.contacts h3{
    margin: 0;
    font-size: 1.5rem;
    margin-left: 0.5rem;
}
.line{
    border-bottom: 1px var(--dark-green) solid;
    width: 100%;
    position: absolute;
    left: 0;
}
.contact{
    padding-top: 2rem;
}
.contact p{
    font-size: 0.9rem;
}
.form >p{
    margin-bottom: 0.2rem;
}
.contact-box{
    margin-bottom: 3rem;
    margin-top: 2rem;
}
.contact-box > p{
    margin: 0.3rem;
}
@media (min-width: 400px) { 

}
@media (max-width: 900px) and (orientation: landscape) {
 
.contact-layout{
    gap: 3rem;
    margin-bottom: 2rem;
}
.contact-box{
    margin-bottom: 0;

}
.contact-box h3{
    font-size: 1.3rem;
}
.contacts{
    margin-bottom: 0;
}
textarea{
    height: 8rem;
}
}

@media (min-width: 768px) { 
}
@media (min-width: 1010px) and (orientation: landscape){
    .contact-layout{
        gap: 90px;
      }
      textarea{
        height: 12rem;
      }
      
}

@media (min-width: 1024px)  and (orientation: portrait) { 
}

@media (min-width: 1280px) { 
    .contact p{
        font-size: 1.2rem;
    }
}

@media (min-width: 1440px) { 
}

@media (min-width: 1920px) { 
}
