
.open{
    text-align: right;
    margin-right: 2rem;

}
.navbar p a{
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease;

}
.navigation-mobile{
    text-align: right;
    height: 100vh;
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
}
.scrolled{
    background-color: white;
    box-shadow: 0px 6px 24px -16px rgba(88, 88, 88, 1);

}
.navigation-mobile p {
    padding: 1rem 0;
    margin-right: 2rem;

}
.navigation-mobile p a{
    color: var(--text-color);
    text-decoration: none;
}
.menu-elements{
    display: flex;
    gap: 6rem;
    padding-left: 5rem;
}
.menu-elements p a:hover{
    color: var(--olive);

}
.lang-btns{
    margin-left: auto;
}

.lang-btns button:hover{
    color: var(--olive);
    transition: color 0.3s ease;
} 
.lang-btns button{
    position: relative; 
    border: none;
    background: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
  }
  
  .lang-btns button::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    color: var(--olive);
    height: 2px; 
    background-color: var(--olive) ;
    transition: width 0.3s ease, left 0.3s ease; 
  }
  
  .lang-btns button:hover::after {
    width: 100%;
    left: 0;
    color: var(--dark-green); 
  }
  .lang-btns-mobile{
    display: inline-grid;
    padding-right: 1rem;
    margin-top: auto;
    padding-bottom: 9rem;
    align-self: flex-end;

  }
  .lang-btns-mobile button{
    border: none;
    background: none;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    color: var(--text-color);
  }
  
.navbar{
    transition: background-color 0.3s ease;
    width:100vw;
    margin-left: calc(-50vw + 50%); 
    margin-right: calc(-50vw + 50%); 
    
    z-index: 2000;
    position: sticky;
    top: 0;
    height: 4rem;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 2rem;
    box-sizing: border-box;
}

.close{
    margin-right: 2rem;
    margin-top: 1.5rem;

}
.navigation{
    padding-right: 10rem;
}
@media (max-width: 1200px) {
    .menu-elements{
        gap: 1.5rem;
        padding-left: 1.5rem;
    }
}
@media (max-width: 860px) {
    .menu-elements{
        padding-left: 0;
        gap:1rem;
    }
    .navbar{
        padding-left: 10px;
    }
}
@media (max-width: 768px) {
    .navbar{
        justify-content: space-between;
        padding-right: 0;
    }
}
