.social-media{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    
}
.social-media > *{
    padding: 1rem;
    cursor: pointer;
}
.shortcuts{
    display: flex;
    justify-content: space-between;
    padding:  0 2rem;
    flex-wrap: wrap;
    gap: 0 30px;

}
.shortcuts p{
    cursor: pointer;
    font-size: 0.8rem;
    flex: 1 1 auto;
}
.terms p{
    text-align: center;
    padding: 0.5rem 0;
    text-decoration: underline;
    cursor: pointer;
    font-size: 0.8rem;
}
.terms p:last-child{
    text-decoration: none;
    cursor: auto;
}
.big-logo{
    max-width: 200px;
    margin: 0 auto;
    display: block;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
@media (min-width: 1010px) and (orientation: landscape){
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 -1rem 2rem -3rem;
    }    
    .big-logo{
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        align-self: center;
        max-width: 300px;
    }  
    .social-media{
        grid-column: 3 /4;
        grid-row: 1/2;
        align-self: self-end;
        padding-bottom: 1.4rem;
    }
    .terms{
        grid-column: 2/4;
        grid-row: 2/3;
        display: flex;
        border-top: 1px solid var(--dark-green);
        justify-content: space-between;
        padding-top: 2rem;
    }
    .shortcuts{
        gap: 4px;
        align-self: self-end;
        padding-bottom: 2rem;


    }
    .line2{
        visibility: hidden;
    }
}

@media (max-width: 1024px)  and (orientation: portrait) { 
}