.social-media{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    
}
.social-media > *{
    padding: 1rem;
    cursor: pointer;
}
.shortcuts{
    display: flex;
    justify-content: space-between;
    padding:  0 2rem;
    flex-wrap: wrap;
    gap: 0 30px;

}
.shortcuts p{
    cursor: pointer;
    font-size: 0.8rem;
    flex: 1 1 auto;
}
.terms p{
    text-align: center;
    padding: 0.5rem 0;
    text-decoration: underline;
    cursor: pointer;
    font-size: 0.8rem;
}
.terms p:last-child{
    text-decoration: none;
    cursor: auto;
}
.big-logo{
    max-width: 200px;
    margin: 0 auto;
    display: block;
    padding-top: 2rem;
    padding-bottom: 1rem;
}