.stars{
    display: flex;
    padding: 0.3rem 1rem;
}
.card{
    background-color: var(--cream);
    max-width: 250px;
    padding: 1rem;
    border-radius: 30px;
    font-size: 0.9rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    display: grid;
    grid-template-rows: auto 180px auto 55px;
    box-sizing: border-box;
}
.card1{
    background-image: url("/public/card1.svg");
    background-size: cover;
    background-position: bottom;
}
.card2{
    background-image: url("/public/card2.svg");
    background-size: cover;
    background-position: bottom;
}
.card3{
    background-image: url("/public/card3.svg");
    background-size: cover;
    background-position: bottom;
}

.customer-name{
    color:white;
    text-align: center;
    font-weight: 500;

}

.customer-img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: 8px var(--cream) solid;
    margin: 0 auto;
    display: block;
}
.card p{
    padding: 0 0.5rem 0 1rem ; 
}
.stars div{
    padding-right:3px;
}
.testimonials{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 3rem;
    padding-top: 0.5rem;
}
.testimonial-section{
    margin-top: 6rem;
    background-image: url("/public/test-bg.png");
    background-size: cover;
    background-position: top;
    width: calc(100vw - 7.5px);
    position: relative; 
    margin-left: calc(-50vw + 50%); 
    margin-right: calc(-50vw + 50%); 

}
.testimonials-pc{
    display: flex;
    max-width: 880px;
    margin: 0 auto;
}

.carousel{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.dots{
    margin: 0 auto;
    /* width: 100%; */
    display: flex;
    justify-content: center;
}
.dot{
    margin: -10px;
}
.turq{
    color: var(--turquoise);
}
@media (min-width: 880px) {
    .testimonials{
        margin-bottom: 3rem;
    }
    .testimonial-section{
        margin-top: 10rem;
        padding-bottom: 4rem;


    }
}
@media (min-width: 1280px) {
    .testimonials{
        margin: 4rem;
    }
    .testimonial-section{
        padding-bottom: 10rem;
    }
    .card{
        max-width: 320px;
        height: 400px;
        padding: 1.2rem;
    }
    .testimonials-pc{
        max-width: 1100px;
    }
    .card p{
        font-size: 1.1rem;
    }
    .customer-img{
        width: 70px;
        height: 70px;
        border: 10px var(--cream) solid;

    }
}
@media (min-width: 1440px) {
    .testimonials-pc{
        max-width: 1150px;
    }
    .testimonial-section{
        background-position: center;
    }
}
@media (min-width: 1920px) {

    .testimonial-section{
        padding-bottom: 11rem;
    }
}