.stars{
    display: flex;
    padding: 0.3rem 1rem;
}
.card{
    background-color: var(--cream);
    max-width: 215px;
    padding: 1rem;
    border-radius: 30px;
    font-size: 0.9rem;
    margin: 0 auto;
    margin-bottom: 2rem;

}
.customer-name{
    color:white;
    text-align: center;
    background-color: var(--olive);
}
.customer-img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: 8px var(--cream) solid;
    margin: 0 auto;
    display: block;
}
.card p{
    padding: 0 0.5rem 0 1rem ; 
}
.stars + *{
    padding:;
}
.testimonials{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 3rem;
    padding-top: 0.5rem;
}
.testimonial-section{
    margin-top: 6rem;
    position: relative;

}
.testimonials-pc{
    display: flex;
}
.bg-grey{
    width: 100%;
    background-color: var(--light-grey);
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    z-index: -100;
    /* transform: translateX(-50%); */
    clip-path: ellipse(50% 50% at 50% 100%);
    /* margin: -2rem; */
    height: 100vw;
}
.carousel{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.dots{
    margin: 0 auto;
    /* width: 100%; */
    display: flex;
    justify-content: center;
}
.dot{
    margin: -10px;
}
.turq{
    color: var(--turquoise);
}