@font-face {
  font-family: "Bubble";
  src: url("../src/fonts/BubbleboddyNeue-Bold\ Trial.ttf") format("truetype");
}

:root {
  --dark-green: #4a7c59;
  --text-color: #2a2a2a;
  --mint-green: #8fc0a9;
  --turquoise: #68b0ab;
  --light-green: #c8d5b9;
  --cream: #fbfaf4;
  --light-grey: #f6f6f6;
  --olive: #788a63;
  --dark-grey: #2a2a2a;
  --cream: #fbfaf4;
  --main-font: "Poppins", sans-serif;
  --heading-font: "Bubble", sans-serif;
  --quicksand: "Quicksand", sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  margin:0 2rem;
}
h1,
h2,
h3 {
  font-family: var(--heading-font);
  color: var(--dark-green);
  line-height: 140%;
}
p,
li {
  font-family: var(--main-font);
}
p {
  line-height: 180%;
}
h2 {
  font-size: 2.2rem;
}
img.graphic {
  width: 100%;
  margin: 0 auto;
  display: block;
}
a {
  text-decoration: none;
}

@media (min-width: 425px) {
}

@media (min-width: 560px) and (orientation: landscape) {
  body {
  }
}

@media (min-width: 800px) {
  p {
  }
  h2 {
    font-size: 3rem;
  }
}
@media (min-width: 1010px) and (orientation: landscape) {
  body {
    margin: 0 4rem;
  }
}

@media (min-width: 1024px) and (orientation: portrait) {
}

@media (min-width: 1280px) {
  h2 {
    font-size: 3.2rem;
    margin-bottom: 4rem;
  }
}

@media (min-width: 1440px) {
  body {
    max-width: 75%;
    margin: 0 auto;
    font-size: 1.2rem;
  }
  h2{
    font-size: 3.8rem;
  }
}

@media (min-width: 1920px) {
}
